label {
	font-weight: 400;
	margin-left: 8px;
}

#basket {
	display:table-cell;
	width: 300px;
	border: 1px solid;
	padding: 20px;
	margin: 10px;
	float:left;
}

.category {
	display:table-cell;
	width: 200px;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	float:left;
	margin-right: 15px;
}

.product {
	display:inline-flex;
}

.checkbox {
	padding: 3px;
}

.btn-checkout {
	margin-top: 10px;
}


