<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Confirmation</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="../static/css/base.css" th:href="@{/css/base.css}"
	rel="stylesheet" />
	<script th:src="@{webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="basket">
			<h2>Checkout</h2>
			<h3>Selected Products:</h3>
			<div th:each="element : ${productsByCategory}"
			class="form-group category">
			<div th:text="${element.key}" class="lead">keyvalue</div>
			<div th:each="product : ${element.value}" >
				<div class="product">
					<label th:text="${product.name}">  Check me out
					</label>
				</div>
			</div>
		</div>
		</div>
	</div>
	<script src="../static/js/basket.js" th:src="@{/js/basket.js}"></script>
</body>
</html>